* {
  border: 1px solid red !important;
}
html,
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
  background-color: #18171f;
  width: 100%;
}
@font-face {
  font-family: myFirstFont;
  src: url("./assets/fonts/static/JetBrainsMono-Bold.ttf");
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18171f;
}

input[type="checkbox"] {
  /* appearance: none; */
  accent-color: #a4ffaf;
  background-color: transparent;
  color: white;
  font-size: 22px;
  border: 2px solid #e6e5ea;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 24px;
  margin-right: 4px;
  width: 20px;
  height: 20px;
}
input[type="range"] {
  border: none;
  /* appearance: none; */
  accent-color: #a4ffaf;
  background-color: #18171f;
  border-radius: 10px;
}
/* input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
} */

label {
  vertical-align: middle;
  font-size: 18px;
  margin-top: 24px;
  font-family: myFirstFont;
  cursor: pointer;
}
input[type="text"] {
  color: #e6e5ea;
  outline: none;
  width: 540px;
  height: 80px;
  flex-shrink: 0;
  background: var(--Dark-Grey, #24232c);
  font-family: myFirstFont;
  font-size: 32px;
}
.neon-green {
  background-color: #a4ffaf !important;
  color: #24232c;
  font-family: myFirstFont;
}

h2 {
  font-family: myFirstFont;
  color: var(--Grey, #817d92);
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.length {
  color: #a4ffaf;
  font-family: myFirstFont;
  font-size: 32px;
}
