@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: myFirstFont;
  src: url("./assets/fonts/static/JetBrainsMono-Bold.ttf");
}
/* * {
  border: 1px solid red;
} */
body,
html {
  font-family: myFirstFont !important;
  height: 100%;
  width: 100%;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

input[type="checkbox"] {
  /* appearance: none; */
  accent-color: #a4ffaf;
  background-color: transparent;
  color: white;
  font-size: 22px;
  border: 2px solid #e6e5ea;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 24px;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  /* border-radius: 50%; */
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  accent-color: #a4ffaf;
  background-color: #18171f;
  border-radius: 10px;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 28px; /* Set a specific slider handle width */
  height: 28px; /* Slider handle height */
  background: #e6e5ea; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  border: 2px solid #e6e5ea;
}
input[type="range"]:focus::-webkit-slider-thumb {
  background-color: #18171f;
  border: 2px solid #a4ffaf;
}

label {
  vertical-align: middle;
  font-size: 18px;
  margin-top: 24px;
  font-family: myFirstFont;
  cursor: pointer;
  color: white;
}
input[type="text"] {
  color: #e6e5ea;
  outline: none;
  /* width: 540px; */
  /* height: 80px; */
  flex-shrink: 0;
  background: var(--Dark-Grey, #24232c);
  font-family: myFirstFont;
  font-size: 32px;
}

h2 {
  font-family: myFirstFont;
  color: var(--Grey, #817d92);
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.length {
  color: #a4ffaf;
  font-family: myFirstFont;
  font-size: 32px;
}
.neon-green {
  background-color: #a4ffaf;
  color: #24232c;
  font-family: myFirstFont;
}

/* Add these styles to your CSS file or use inline styles in your React component */

/* Default styles for the input field */
.inputField {
  width: 100%; /* Take up the full width of the container */
  max-width: 400px; /* Set a maximum width to avoid stretching on larger screens */
  padding-right: 10px; /* Add some spacing on the right side of the input field */
}

/* Media query for smaller screens (adjust the breakpoint as needed) */
@media (max-width: 600px) {
  .inputField {
    max-width: 100%; /* Take up the full width on smaller screens */
    margin-right: 0; /* Remove right margin on smaller screens */
  }
}
